* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: "Inter", sans-serif;
}

@media (max-width: 1200px) {
  .tourist {
    position: relative;
  }
  .tourist--image__fon2 {
    position: absolute;
    top: 120px;
    left: -20px;
  }
  .tourist--image__fon3 {
    position: absolute;
    top: 400px;
    left: 190px;
  }
  .tourist--image__fon4 {
    position: absolute;
    top: 500px;
    left: -35px;
  }
  .tourist--image__fon6 {
    position: absolute;
    top: 200px;
    left: 40px;
    border-radius: 20px;
  }
  .tourist--image__fon5 {
    position: absolute;
    left: 270px;
    top: 165px;
  }
  .tourist--image__block {
    position: absolute;
    top: 650px;
    left: 330px;
  }
  .tourist--title {
    position: absolute;
    right: 0;
    top: 200px;
  }
  .tourist--title p {
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    padding-bottom: 30px;
  }
  .tourist--title h2 {
    font-weight: 700;
    font-size: 16px;
    color: #3793D8;
  }
  .tourist--title h3 {
    font-weight: 400;
    font-size: 14px;
    color: #666666;
    padding: 5px 0;
  }
  .tourist--title__ser {
    position: absolute;
    top: -50px;
  }
  .tourist--title__ser2 {
    position: absolute;
    right: 10px;
  }
}
@media (max-width: 724px) {
  #book .book--title ul {
    text-align: center;
  }
  #book .book--title h1 {
    text-align: center;
  }
  #book .book--title p {
    text-align: center;
  }
  #book .book--title--icon {
    flex-wrap: wrap;
  }
  #book .book--title--icon--text h2 {
    color: #666666;
    text-align: center;
  }
  #book .book--title--icon--text p {
    color: #666666;
    text-align: center;
  }
  #book .book--title--icon2 {
    flex-wrap: wrap;
  }
  #book .book--title--icon2--text h2 {
    font-weight: 700;
    font-size: 20px;
    color: #666666;
    text-align: center;
  }
  #book .book--title--icon2--text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #666666;
    text-align: center;
  }
  #book .book--image img {
    width: 90%;
  }
  #book .book--image--block--one {
    left: 70% !important;
  }
  #book .book--image--block--one img {
    width: 15%;
  }
  #book .book--image--block--one--icon {
    margin-left: 25px;
  }
  #book .book--image--block--one--icon button {
    padding-top: 5px;
  }
  #book .book--image--block--one--icon h1 {
    font-weight: 700;
    font-size: 10px;
    color: #474A4D;
  }
  #book .book--image--block--one--icon ul {
    padding: 5px 0;
    font-weight: 400;
    font-size: 8px;
    color: #8C8C8C;
  }
  #book .book--image--block--one2 {
    position: absolute;
    top: 0;
    left: 70% !important;
  }
  #book .book--image--block--one2 img {
    width: 15%;
  }
  #book .book--image--block--one2--icon {
    margin-left: 25px;
  }
  #book .book--image--block--one2--icon button {
    padding-top: 5px;
  }
  #book .book--image--block--one2--icon h1 {
    font-weight: 700;
    font-size: 10px;
    color: #474A4D;
  }
  #book .book--image--block--one2--icon ul {
    padding: 5px 0;
    font-weight: 400;
    font-size: 8px;
    color: #8C8C8C;
  }
  #book .book--image--block--two {
    width: 40% !important;
  }
  #book .book--image--block--two--trip {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  #book .book--image--block--two--trip h1 {
    font-weight: 700;
    font-size: 16px;
    color: #474747;
    margin: 15px 0;
  }
  #book .book--image--block--two--trip h2 {
    font-weight: 700;
    font-size: 16px;
    color: #DB6300;
  }
  #book .book--image--block--two p {
    font-weight: 400;
    font-size: 8px;
    color: #666666;
    margin: 0 25px;
  }
  #book .book--image--block--two--stars {
    margin: 10px 20px !important;
  }
  #book .book--image--block--two--stars ul {
    font-weight: 400;
    font-size: 14px;
    color: #CACACA;
  }
  #book .book--image--block--two h3 {
    font-weight: 700;
    font-size: 14px;
    color: #1F39BA;
    margin: 0 25px;
  }
}
@media (max-width: 576px) {
  #book .book--image--block--one {
    left: 60% !important;
  }
  #book .book--image--block--one2 {
    position: absolute;
    top: 0;
    left: 60% !important;
  }
  #book .book--image--block--one2 img {
    width: 15%;
  }
  #book .book--image--block--one2--icon {
    margin-left: 25px;
  }
  #book .book--image--block--one2--icon button {
    padding-top: 5px;
  }
  #book .book--image--block--one2--icon h1 {
    font-weight: 700;
    font-size: 10px;
    color: #474A4D;
  }
  #book .book--image--block--one2--icon ul {
    padding: 5px 0;
    font-weight: 400;
    font-size: 8px;
    color: #8C8C8C;
  }
  #book .book--image--block--two {
    width: 40% !important;
    height: 170px !important;
  }
  #book .book--image--block--two--trip {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  #book .book--image--block--two--trip h1 {
    font-weight: 700;
    font-size: 16px;
    color: #474747;
    margin: 15px 0;
  }
  #book .book--image--block--two--trip h2 {
    font-weight: 700;
    font-size: 16px;
    color: #DB6300;
  }
  #book .book--image--block--two p {
    font-weight: 400;
    font-size: 8px;
    color: #666666;
    margin: 0 25px;
  }
  #book .book--image--block--two--stars {
    margin: 10px 20px !important;
  }
  #book .book--image--block--two--stars ul {
    font-weight: 400;
    font-size: 14px;
    color: #CACACA;
  }
  #book .book--image--block--two h3 {
    font-weight: 700;
    font-size: 14px;
    color: #1F39BA;
    margin: 0 25px;
  }
}
@media (max-width: 451px) {
  #book .book--image--block--one {
    left: 50% !important;
  }
  #book .book--image--block--one2 {
    left: 50% !important;
  }
  #book .book--image--block--one2 img {
    width: 15%;
  }
  #book .book--image--block--one2--icon {
    margin-left: 25px;
  }
  #book .book--image--block--one2--icon button {
    padding-top: 5px;
  }
  #book .book--image--block--one2--icon h1 {
    font-weight: 700;
    font-size: 10px;
    color: #474A4D;
  }
  #book .book--image--block--one2--icon ul {
    padding: 5px 0;
    font-weight: 400;
    font-size: 8px;
    color: #8C8C8C;
  }
  #book .book--image--block--two {
    width: 277px;
    height: 156px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 2px rgba(162, 160, 160, 0.15);
    border-radius: 8px;
    position: absolute;
    bottom: 10px;
  }
  #book .book--image--block--two--trip {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  #book .book--image--block--two--trip h1 {
    font-weight: 700;
    font-size: 16px;
    color: #474747;
    margin: 15px 0;
  }
  #book .book--image--block--two--trip h2 {
    font-weight: 700;
    font-size: 16px;
    color: #DB6300;
  }
  #book .book--image--block--two p {
    font-weight: 400;
    font-size: 8px;
    color: #666666;
    margin: 0 25px;
  }
  #book .book--image--block--two--stars {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: 20px 20px;
  }
  #book .book--image--block--two--stars img {
    width: 10%;
  }
  #book .book--image--block--two--stars ul {
    font-weight: 400;
    font-size: 14px;
    color: #CACACA;
  }
  #book .book--image--block--two h3 ion-icon {
    display: none;
  }
}
@media (max-width: 400px) {
  #book .book--image--block--two {
    width: 277px;
    height: 200px !important;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 2px rgba(162, 160, 160, 0.15);
    border-radius: 8px;
    position: absolute;
    bottom: 10px;
  }
  #book .book--image--block--two--trip {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  #book .book--image--block--two--trip h1 {
    font-weight: 700;
    font-size: 16px;
    color: #474747;
    margin: 15px 0;
  }
  #book .book--image--block--two--trip h2 {
    font-weight: 700;
    font-size: 16px;
    color: #DB6300;
  }
  #book .book--image--block--two p {
    font-weight: 400;
    font-size: 8px;
    color: #666666;
    margin: 0 25px;
  }
  #book .book--image--block--two--stars {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: 20px 20px;
  }
  #book .book--image--block--two--stars img {
    width: 10%;
  }
  #book .book--image--block--two--stars ul {
    font-weight: 400;
    font-size: 14px;
    color: #CACACA;
  }
  #book .book--image--block--two h3 {
    text-align: center;
  }
  #book .book--image--block--two h3 ion-icon {
    display: none;
  }
}
@media (max-width: 376px) {
  #book .book--image {
    position: relative;
  }
  #book .book--image--block--one {
    position: absolute;
    top: 100px;
    left: 40% !important;
    width: 180px;
    height: 80px;
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    margin-top: 10px;
  }
  #book .book--image--block--one img {
    width: 15%;
  }
  #book .book--image--block--one--icon {
    margin-left: 25px;
  }
  #book .book--image--block--one--icon button {
    padding-top: 5px;
  }
  #book .book--image--block--one--icon h1 {
    font-weight: 700;
    font-size: 10px;
    color: #474A4D;
  }
  #book .book--image--block--one--icon ul {
    padding: 5px 0;
    font-weight: 400;
    font-size: 8px;
    color: #8C8C8C;
  }
  #book .book--image--block--one2 {
    left: 40% !important;
  }
  #book .book--image--block--one2 img {
    width: 15%;
  }
  #book .book--image--block--one2--icon {
    margin-left: 25px;
  }
  #book .book--image--block--one2--icon button {
    padding-top: 5px;
  }
  #book .book--image--block--one2--icon h1 {
    font-weight: 700;
    font-size: 10px;
    color: #474A4D;
  }
  #book .book--image--block--one2--icon ul {
    padding: 5px 0;
    font-weight: 400;
    font-size: 8px;
    color: #8C8C8C;
  }
  #book .book--image--block--two {
    width: 277px;
    height: 280px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 2px rgba(162, 160, 160, 0.15);
    border-radius: 8px;
    position: absolute;
    bottom: 10px;
  }
  #book .book--image--block--two--trip {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  #book .book--image--block--two--trip h1 {
    font-weight: 700;
    font-size: 16px;
    color: #474747;
    margin: 15px 0;
    text-align: center;
  }
  #book .book--image--block--two--trip h2 {
    font-weight: 700;
    font-size: 16px;
    color: #DB6300;
  }
  #book .book--image--block--two p {
    font-weight: 400;
    font-size: 8px;
    color: #666666;
    margin: 0 25px;
  }
  #book .book--image--block--two--stars {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 20px !important;
  }
  #book .book--image--block--two--stars ul {
    font-weight: 400;
    font-size: 14px;
    color: #CACACA;
  }
  #book .book--image--block--two h3 {
    font-weight: 700;
    font-size: 14px;
    color: #1F39BA;
    margin: 0 25px;
  }
}
#header {
  padding-top: 1%;
}
#header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .header--arvi {
  margin-left: 80px;
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  color: #0600AE;
}
#header .header--arvi span {
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  color: #5c5c5e;
}
#header .header--see {
  margin-left: 90px;
  justify-content: space-around;
}
#header .header--see__arko {
  margin: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #9099A3;
  transition: 0.4s;
}
#header .header--see__arko:hover {
  border-bottom: 2px solid #1F39BA;
  color: red;
}
#header .header--see__btn {
  width: 100px;
  height: 40px;
  background: #1A5CFF;
  box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
  border-radius: 15px;
  border: none;
  font-weight: 900;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  transition: 0.4s;
  margin: 0 50px;
}
#header .header--see__btn:hover {
  transform: scale(1.1);
  color: red;
}
#header .header #menu__toggle {
  opacity: 0;
}
#header .header #menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#header .header #menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#header .header #menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#header .header #menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}
#header .header .menu__btn {
  display: block;
  align-items: center;
  position: fixed;
  width: 36px;
  height: 46px;
  cursor: pointer;
  z-index: 1;
}
#header .header .menu__btn > span,
#header .header .menu__btn > span::before,
#header .header .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: blue;
  transition-duration: 0.25s;
}
#header .header .menu__btn > span::before {
  content: "";
  top: -8px;
}
#header .header .menu__btn > span::after {
  content: "";
  top: 8px;
}
#header .header .menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 400px;
  height: 650%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #6c0404;
  box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
}
#header .header .menu__item {
  display: block;
  padding: 20px 24px;
  color: #fdfcfc;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
#header .header .nav__btn {
  padding: 10px 5px;
  border: 2px solid #f8f6f6;
  border-radius: 10px;
  background: transparent;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #fcfafa;
  margin-left: 10px;
}
#header .header .nav__btn:active {
  background-color: #CFD8DC;
  color: #f11818;
}
#header .header .menu__item:hover {
  background-color: #CFD8DC;
  color: #6c0404;
}

#best {
  padding-top: 50px;
}
#best .best--title ul {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #474747;
}
#best .best--title h1 {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #474747;
  padding: 20px 0;
}
#best .best--title p {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #666666;
  padding-bottom: 20px;
}
#best .best--slider {
  width: 270px;
  height: 500px;
  background: #FFFFFF;
}
#best .best--slider .dollar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
}
#best .best--slider .dollar h1 {
  font-weight: 700;
  font-size: 20px;
  color: #474747;
  padding: 15px 0;
}
#best .best--slider .dollar h2 {
  font-weight: 700;
  font-size: 20px;
  color: #DB6300;
}
#best .best--slider p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #666666;
  margin-left: 1.5px;
}
#best .best--slider .zvezd {
  padding: 15px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 15px;
}
#best .best--slider .zvezd ul {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #CACACA;
}
#best .best--slider button {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  background: #1F39BA;
  border-radius: 10px;
  padding: 10px 20px;
  transition: 0.4s;
}
#best .best--slider button:hover {
  background: transparent;
  color: black;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

#book {
  padding: 50px 0;
}
#book .book {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
#book .book--title ul {
  font-weight: 700;
  font-size: 16px;
  color: #666666;
}
#book .book--title h1 {
  font-weight: 700;
  font-size: 36px;
  color: #474747;
  padding: 20px 0;
}
#book .book--title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #666666;
}
#book .book--title--icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
}
#book .book--title--icon--group {
  width: 60px;
  height: 60px;
  background: #EA880F;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#book .book--title--icon--group h1 {
  font-weight: 700;
  font-size: 20px;
  color: #666666;
}
#book .book--title--icon--group p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #666666;
}
#book .book--title--icon2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
}
#book .book--title--icon2 h1 {
  font-weight: 700;
  font-size: 20px;
  color: #666666;
}
#book .book--title--icon2 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #666666;
}
#book .book--image {
  position: relative;
}
#book .book--image--block--one {
  position: absolute;
  top: 100px;
  left: 80%;
  width: 180px;
  height: 80px;
  background: #FFFFFF;
  border-radius: 8px;
  display: flex;
  margin-top: 10px;
}
#book .book--image--block--one img {
  width: 15%;
}
#book .book--image--block--one--icon {
  margin-left: 25px;
}
#book .book--image--block--one--icon button {
  padding-top: 5px;
}
#book .book--image--block--one--icon h1 {
  font-weight: 700;
  font-size: 10px;
  color: #474A4D;
}
#book .book--image--block--one--icon ul {
  padding: 5px 0;
  font-weight: 400;
  font-size: 8px;
  color: #8C8C8C;
}
#book .book--image--block--one2 {
  position: absolute;
  top: 0;
  left: 80%;
  width: 180px;
  height: 80px;
  background: #FFFFFF;
  border-radius: 8px;
  display: flex;
  margin-top: 10px;
}
#book .book--image--block--one2 img {
  width: 15%;
}
#book .book--image--block--one2--icon {
  margin-left: 25px;
}
#book .book--image--block--one2--icon button {
  padding-top: 5px;
}
#book .book--image--block--one2--icon h1 {
  font-weight: 700;
  font-size: 10px;
  color: #474A4D;
}
#book .book--image--block--one2--icon ul {
  padding: 5px 0;
  font-weight: 400;
  font-size: 8px;
  color: #8C8C8C;
}
#book .book--image--block--two {
  width: 277px;
  height: 156px;
  background: #FFFFFF;
  box-shadow: 0 2px 4px 2px rgba(162, 160, 160, 0.15);
  border-radius: 8px;
  position: absolute;
  bottom: 10px;
}
#book .book--image--block--two--trip {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#book .book--image--block--two--trip h1 {
  font-weight: 700;
  font-size: 16px;
  color: #474747;
  margin: 15px 0;
}
#book .book--image--block--two--trip h2 {
  font-weight: 700;
  font-size: 16px;
  color: #DB6300;
}
#book .book--image--block--two p {
  font-weight: 400;
  font-size: 8px;
  color: #666666;
  margin: 0 25px;
}
#book .book--image--block--two--stars {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 20px 20px;
}
#book .book--image--block--two--stars ul {
  font-weight: 400;
  font-size: 14px;
  color: #CACACA;
}
#book .book--image--block--two h3 {
  font-weight: 700;
  font-size: 14px;
  color: #1F39BA;
  margin: 0 25px;
}

#tourist .tourist {
  position: relative;
}
#tourist .tourist ul {
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  text-align: center;
}
#tourist .tourist h1 {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #474747;
}
#tourist .tourist p {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #666666;
}
#tourist .tourist--text--image__fon2 {
  position: absolute;
  top: 120px;
  left: -20px;
}
#tourist .tourist--text--image__fon3 {
  position: absolute;
  top: 400px;
  left: 190px;
}
#tourist .tourist--text--image__fon4 {
  position: absolute;
  top: 500px;
  left: -35px;
}
#tourist .tourist--text--image__fon6 {
  position: absolute;
  top: 200px;
  left: 40px;
  border-radius: 20px;
}
#tourist .tourist--text--image__fon5 {
  position: absolute;
  left: 270px;
  top: 165px;
}
#tourist .tourist--text--image__block {
  position: absolute;
  top: 650px;
  left: 330px;
}
#tourist .tourist--text--title {
  position: absolute;
  right: 0;
  top: 200px;
}
#tourist .tourist--text--title p {
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  padding-bottom: 30px;
}
#tourist .tourist--text--title h2 {
  font-weight: 700;
  font-size: 16px;
  color: #3793D8;
}
#tourist .tourist--text--title h3 {
  font-weight: 400;
  font-size: 14px;
  color: #666666;
  padding: 5px 0;
}
#tourist .tourist--text--title__ser {
  position: absolute;
  top: -50px;
}
#tourist .tourist--text--title__ser2 {
  position: absolute;
  right: 10px;
}

/*# sourceMappingURL=style.css.map */
