@media (max-width: 1440px) {
    #header .header .menu__btn {
        display: none;
    }
}
@media (max-width: 1200px) {
    #header .header--see__btn {
        margin: 0 -12px;
    }
    #header .header .menu__btn {
        display: none;
    }
}
@media (max-width: 1024px) {
    #header .header .menu__btn {
        display: block;
    }
    #header .header--see {
        display: none;
    }
    #header .header {
        justify-content: space-around;
        align-items: stretch;
    }
    #header .header--arvi {
        margin-left: -1px;
    }
}
@media (max-width: 992px) {
    #header .header .menu__btn {
        display: block;
    }
    #header .header--see {
        display: none;
    }
    #header .header--arvi {
        margin-left: -1px;
    }
}
@media (max-width: 768px) {
    #header .header--arvi {
        margin-left: -1px;
    }
    #header .header #menu__toggle:checked ~ .menu__box {
        width: 40%;
    }
}
@media (max-width: 576px) {
    #header .header--arvi {
        margin-left: -1px;
    }
    #header .header #menu__toggle:checked ~ .menu__box {
        width: 40%;
    }

}
@media (max-width: 450px) {
    #header .header--arvi {
        margin-left: -1px;
    }
    #header .header #menu__toggle:checked ~ .menu__box {
        width: 40%;
    }

}
@media (max-width: 400px) {
    #header .header--arvi {
        margin-left: -1px;
    }
    #header .header #menu__toggle:checked ~ .menu__box {
        width: 40%;
    }

}
@media (max-width: 380px) {
    #header .header--arvi {
        margin-left: -1px;
    }
    #header .header #menu__toggle:checked ~ .menu__box {
        width: 40%;
    }
}
@media (max-width: 376px) {
    #header .header--arvi {
        margin-left: -1px;
    }
    #header .header #menu__toggle:checked ~ .menu__box {
        width: 40%;
    }
}
@media (max-width: 320px) {
    #header .header--arvi {
        margin-left: -1px;
    }
    #header .header #menu__toggle:checked ~ .menu__box {
        width: 40%;
    }
}