@mixin center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin space {
  display: flex;
  align-items: center;
}

@mixin btn {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  background: #1F39BA;
  border-radius: 10px;
  padding: 10px 20px;
  transition: .4s;

  &:hover {
    background: transparent;
    color: black;
  }
}